<div class="board"></div>
<div class="event-board">

<div class="row">
  <div *ngFor="let activity of activities">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="pic">
      <img src="{{ activity.image }} " alt="" class="profile-pic">
      </div>
      <div class="caption">
        <h3> {{ activity.title }} </h3>
        <p> {{ activity.type }} </p>
        <p> {{ activity.city }} </p>
        <p> {{ activity.description }}</p>
        <a [routerLink]="['activity', activity._id]" class="btn btn-primary">Ir al evento</a>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
