<div class="row">
<div class="board">
</div>

<div class="event-board">

  <div *ngFor="let activity of activities">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

      <img id="pic"[src]="'http://localhost:3000/images/'+ activity.image" alt="" class="profile-pic">

      <div class="caption">
        <h3> {{ activity.title }} </h3>
        <p> {{ activity.type }} </p>
        <p> {{ activity.city }} </p>
        <p> {{ activity.description }}</p>
        <button [routerLink]="['activity', activity._id]" class="btn btn-success btn-edit" [routerLink]="['/activity/edit/']+[activity._id]"><span style="margin-right:20px"  aria-hidden="true"></span> Ir al evento</button>

      </div>
    </div>
  </div>
  </div>
</div>
</div>
