<div class="container">
	<div class="row">
    <div *ngIf="activity">
     <div class="col-xs-4 item-photo">
        <img style="max-width:100%;" [src]="'http://localhost:3000/images/'+ activity.image" />
      </div>

      <div class="col-xs-5" style="border:0px solid gray">

        <h3>{{ activity.title }}</h3>
        <div class="section">
          <label>Categoría:</label>
          <p> {{ activity.type }} </p>
          <label>Ciudad:</label>
          <p> {{ activity.city }} </p>
          <label>Descripción:</label>
          <p> {{ activity.description }}</p>

          <button class="btn btn-success btn-edit" [routerLink]="['/activity/edit/']+[activity._id]"><span style="margin-right:20px"  aria-hidden="true"></span> Editar</button>
          <button class="btn btn-success btn-edit"(click)="deleteActivity()"><span style="margin-right:20px"  aria-hidden="true"></span> Borrar</button>
        </div>

        <div class="section" style="padding-bottom:20px;">
          <h4>Asistirán:</h4>
          <div *ngFor="let participant of activity.participants">
            <p> {{ participant.username }}</p>
          </div>
          <button class="btn btn-success" (click)="addParticipant()" ><span style="margin-right:20px" class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> Apuntarse!</button>
        </div>

  <!-- Botones-->
        <div class="section" style="padding-bottom:20px;">
          <h6><a [routerLink]="['']"><span style="cursor:pointer;"></span> Back to list</a></h6>
        </div>
      </div>
	  </div>
  </div>
</div>
